@use '../utility' as *;
.clock {
  box-shadow: 0 0 5px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: solid 10px #d4fcfc;
  position: relative;
  overflow: hidden;
  .clock-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  // numbers
  .numbers {
    text-shadow: 0 0 2px #000000;
    margin: 0;
    padding: 0;
  }
  .number {
    list-style: none;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .number1 {
    @include moveNumber(30deg);
  }
  .number2 {
    @include moveNumber(60deg);
  }
  .number3 {
    @include moveNumber(90deg);
  }
  .number4 {
    @include moveNumber(120deg);
  }
  .number5 {
    @include moveNumber(150deg);
  }
  .number6 {
    @include moveNumber(180deg);
  }
  .number7 {
    @include moveNumber(210deg);
  }
  .number8 {
    @include moveNumber(240deg);
  }
  .number9 {
    @include moveNumber(270deg);
  }
  .number10 {
    @include moveNumber(300deg);
  }
  .number11 {
    @include moveNumber(330deg);
  }

  // hands
  .hand {
    --rotation: 0;
    background-color: #d4fcfc;
    box-shadow: 0 0 5px #000000;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    border-top-left-radius: 120%;
    border-top-right-radius: 120%;
  }

  .centre-dot {
    transform: translate(-50%, 50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .hand-hour {
    height: 32%;
    width: 10px;
  }
  .hand-minute {
    height: 37%;
    width: 8.5px;
  }
  .hand-second {
    height: 41%;
    width: 5px;
  }
}

// @keyframes test {
//   0% {
//     transform: rotate(0);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
