@use "typography";
@use "components/clock";
* {
  box-sizing: border-box;
}
body {
  // background: rgb(9, 121, 97);
  // background: linear-gradient(
  //   90deg,
  //   rgba(9, 121, 97, 1) 0%,
  //   rgba(0, 212, 255, 1) 100%
  // );
  background-color: rgba(42, 245, 207, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  overflow: hidden;
}
